.container {
  display: flex;
  justify-content: space-around;
  padding: 60px;
}

.section {
  background-color: #f0f0f5;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 30%;
}

.section img {
  height: 50px;
  margin-bottom: 20px;
}

.section h2 {
  color: #000929;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.section p {
  color: #6a6a8a;
  margin-bottom: 20px;
}

.section button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
