
.container{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    background-image: url('./../../../assets/about-hero-background.png');
    background-size: cover;
    background-position: center;
}

.container img{
    width: 370px;
    border-bottom-right-radius: 70px;
    height: 300px;
}

.container h1{
    font-weight: lighter;
}
.container p{
    margin-top: 20px;
}

.text_section{
    width: 400px;
}
.text_section p{
    font-size: 15px;
}