.container{
    background-color: #edecfb;
}

.groupedText{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}
.questions{
    width: 400px;
}
.groupedText p{
    margin-top: 12px;
}
.textSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}
.textSection h2{
    margin-bottom: 10px;
}
.tabSpace{
    word-spacing: 10px;
}

@media only screen and (max-width: 728px) {
    .groupedText {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .questions {
        width: 90%;
    }

    .textSection {
        padding: 20px 0;
    }

    .textSection h2 {
        font-size: 1.5em;
    }

    .textSection p {
        font-size: 1em;
        text-align: center;
    }
}