.property_apartments{
    padding: 100px 40px 20px 40px;
}

.apartment_images{
    flex: 3;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fileList{
    display: flex;
    flex-direction: row;
    font-size: 12px;
}