.text_section{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    align-items: center;
    padding-top: 50px;
}

.text_section p {
    margin-top: 10px;
}
.container{
    padding: 50px;
}

.picture_connect_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture_connect_section img{
    width: 480px;
    height: 353px;
    border-radius: 4px 4px 4px 60px;
}

.text_subSection{
    background: #fff;
    border-top-right-radius: 60px;
    height: 353px;
    width: 360px;
    display: flex;
    flex-direction: column;
}
.text_subSection h3{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}
.text_subSection p{
    padding: 10px 30px 7px 30px;
}

@media only screen and (max-width: 728px) {
    .container {
        padding: 20px;
    }

    .picture_connect_section {
        flex-direction: column;
    }

    .picture_connect_section img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .text_subSection {
        width: 100%;
        height: auto;
        border-radius: 0 0 10px 10px;
    }

    .text_subSection h3 {
        padding-top: 20px;
    }

    .text_subSection p {
        padding: 10px 20px;
    }
}